/* Required for honors students */
/********************************** 
* Design by:	[@BlokMaster21309]
* Design name:	[Wanted]
* 
* License: [MIT]
* 
* Acknowledgments/Sources:
* - Tom Hinkle for the idea
* - 
* -
*/

/* #css-zen-garden {
	background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCACAAIADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD5/ooooAKKKKACiigcmgD7LPTngdz6VTilWSd12nMbYPII6A8/n39PTGbJc4MQxhW5Oc54/p0/A0yvz7NM5r1ak6UXaG2n5nrYbDQUVKS1InDQxxJAibFwoTGNq5Ht0A7fqKtgDCtjGR+Xt9ahqKcStGBE4U7huyNwK554z1x3qMqzirhpxpyd4X1NK+GjV12Z8gYoNfTFfM9focZKcVJbM8aUXF2YlGaDRTEFFFFABRRRQAUUUUAFffxGRS0UmrqwHMro1xLKCvlrCR94kk9Ow7/n+ean/wCEdP8Az8D/AL4/+vW9RXj/ANg4G7bj+J0fW6q2Zhf8I8f+fkf98f8A16Z/YckcobzQyg9l5/L/AAroKMUf2Dgf5PxH9bq9zLEZijVDnAHGTmvhavv2ivWpwjTgoR2RzNtu7PgGiiirAKKKKACiiigAooooA+/6KKKACiiigApKWkoAWiiigD4Ar7/or4AoAKKKKACiiigAoor7+oAKKKKAFor4AooA+/6K+AKKAPv+ivgCvv8AoAKKKKAPgCiiigAooooAK+/q+Aa+/qAFooooA+AKKKKACiiigAr7/r4Ar7/oAKKKKAPgCiiigAooooAK+/q+AaKAPv6iiigD4BooooAKKKKACvv+kpaACiiigD4AooooAKKKKACiiigD7/ooooAKKKKACiiigAooooAK+AKKKACiiigAooooAKKKKAPv6iiigD4Br7/r4AooA+/6K+AK+/6ACiiigD4AooooAKKKKAP/2Q==");
} */

.page-wrapper *{
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	visibility: hidden;
	display: none;
}
header h1::after {
	visibility: visible;
	content: "Wanted";
}
header h2::after {
	visibility: visible;
	content: "Reward: Big Hug";
}